proyeto_cliente_sw/src/conf/xml-resources/web-service-references/Rutas_1/wsdl/localhost_8080/autobuses/Rutas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="devuelveListado" type="tns:devuelveListado"/>

<xs:element name="devuelveListadoResponse" type="tns:devuelveListadoResponse"/>

<xs:complexType name="devuelveListado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="devuelveListadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:rutaSW" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutaSW">
<xs:sequence>
<xs:element name="destino" type="tns:estacionSW" minOccurs="0"/>
<xs:element name="horarios" type="tns:horarioSW" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="origen" type="tns:estacionSW" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estacionSW">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="localidad" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horarioSW">
<xs:sequence>
<xs:element name="hora" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="viajes" type="tns:viajeSW" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viajeSW">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="plazas" type="xs:int" minOccurs="0"/>
<xs:element name="plazasDisponibles" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>